@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-bB6jWbvTERm9_font-family: "Inter";
  --mixin-bB6jWbvTERm9_font-size: 16px;
  --mixin-bB6jWbvTERm9_font-weight: 400;
  --mixin-bB6jWbvTERm9_font-style: normal;
  --mixin-bB6jWbvTERm9_color: #535353;
  --mixin-bB6jWbvTERm9_text-align: left;
  --mixin-bB6jWbvTERm9_text-transform: none;
  --mixin-bB6jWbvTERm9_line-height: 1.5;
  --mixin-bB6jWbvTERm9_letter-spacing: normal;
  --mixin-bB6jWbvTERm9_white-space: pre-wrap;
  --mixin-bB6jWbvTERm9_user-select: text;
  --mixin-bB6jWbvTERm9_text-decoration-line: none;
  --mixin-bB6jWbvTERm9_text-overflow: clip;
  --mixin-XFG9Y26JyqnW_color: #000000;
  --mixin-XFG9Y26JyqnW_font-weight: 900;
  --mixin-XFG9Y26JyqnW_font-size: 72px;
  --mixin-XFG9Y26JyqnW_line-height: 1;
  --mixin-XFG9Y26JyqnW_letter-spacing: -4px;
  --mixin-ZSI3O8-liHKO_font-family: "Inter";
  --mixin-ZSI3O8-liHKO_color: #000000;
  --mixin-ZSI3O8-liHKO_font-size: 48px;
  --mixin-ZSI3O8-liHKO_font-weight: 700;
  --mixin-ZSI3O8-liHKO_letter-spacing: -1px;
  --mixin-ZSI3O8-liHKO_line-height: 1.1;
  --mixin-qa96mUWs157X_color: #0070f3;
  --mixin-ny35gkcStHVD_font-family: "Inter";
  --mixin-ny35gkcStHVD_color: #000000;
  --mixin-ny35gkcStHVD_font-size: 32px;
  --mixin-ny35gkcStHVD_font-weight: 600;
  --mixin-ny35gkcStHVD_letter-spacing: -0.8px;
  --mixin-ny35gkcStHVD_line-height: 1.2;
  --mixin-fYe5TjZbqris_font-family: "Inter";
  --mixin-fYe5TjZbqris_color: #000000;
  --mixin-fYe5TjZbqris_font-size: 24px;
  --mixin-fYe5TjZbqris_font-weight: 600;
  --mixin-fYe5TjZbqris_letter-spacing: -0.5px;
  --mixin-fYe5TjZbqris_line-height: 1.3;
  --mixin-iAfsWRWN4qfD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iAfsWRWN4qfD_border-bottom-color: #dddddd;
  --mixin-iAfsWRWN4qfD_border-bottom-style: solid;
  --mixin-iAfsWRWN4qfD_border-bottom-width: 1px;
  --mixin-iAfsWRWN4qfD_border-left-color: #dddddd;
  --mixin-iAfsWRWN4qfD_border-left-style: solid;
  --mixin-iAfsWRWN4qfD_border-left-width: 1px;
  --mixin-iAfsWRWN4qfD_border-right-color: #dddddd;
  --mixin-iAfsWRWN4qfD_border-right-style: solid;
  --mixin-iAfsWRWN4qfD_border-right-width: 1px;
  --mixin-iAfsWRWN4qfD_border-top-color: #dddddd;
  --mixin-iAfsWRWN4qfD_border-top-style: solid;
  --mixin-iAfsWRWN4qfD_border-top-width: 1px;
  --mixin-iAfsWRWN4qfD_border-bottom-left-radius: 3px;
  --mixin-iAfsWRWN4qfD_border-bottom-right-radius: 3px;
  --mixin-iAfsWRWN4qfD_border-top-left-radius: 3px;
  --mixin-iAfsWRWN4qfD_border-top-right-radius: 3px;
  --mixin-iAfsWRWN4qfD_font-family: "Inconsolata";
  --mixin-iAfsWRWN4qfD_padding-bottom: 1px;
  --mixin-iAfsWRWN4qfD_padding-left: 4px;
  --mixin-iAfsWRWN4qfD_padding-right: 4px;
  --mixin-iAfsWRWN4qfD_padding-top: 1px;
  --mixin-b9-Hf5JqVV1C_border-left-color: #dddddd;
  --mixin-b9-Hf5JqVV1C_border-left-style: solid;
  --mixin-b9-Hf5JqVV1C_border-left-width: 3px;
  --mixin-b9-Hf5JqVV1C_color: #888888;
  --mixin-b9-Hf5JqVV1C_padding-left: 10px;
  --mixin-91IXXVI5LzHm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-91IXXVI5LzHm_border-bottom-color: #dddddd;
  --mixin-91IXXVI5LzHm_border-bottom-style: solid;
  --mixin-91IXXVI5LzHm_border-bottom-width: 1px;
  --mixin-91IXXVI5LzHm_border-left-color: #dddddd;
  --mixin-91IXXVI5LzHm_border-left-style: solid;
  --mixin-91IXXVI5LzHm_border-left-width: 1px;
  --mixin-91IXXVI5LzHm_border-right-color: #dddddd;
  --mixin-91IXXVI5LzHm_border-right-style: solid;
  --mixin-91IXXVI5LzHm_border-right-width: 1px;
  --mixin-91IXXVI5LzHm_border-top-color: #dddddd;
  --mixin-91IXXVI5LzHm_border-top-style: solid;
  --mixin-91IXXVI5LzHm_border-top-width: 1px;
  --mixin-91IXXVI5LzHm_border-bottom-left-radius: 3px;
  --mixin-91IXXVI5LzHm_border-bottom-right-radius: 3px;
  --mixin-91IXXVI5LzHm_border-top-left-radius: 3px;
  --mixin-91IXXVI5LzHm_border-top-right-radius: 3px;
  --mixin-91IXXVI5LzHm_font-family: "Inconsolata";
  --mixin-91IXXVI5LzHm_padding-bottom: 3px;
  --mixin-91IXXVI5LzHm_padding-left: 6px;
  --mixin-91IXXVI5LzHm_padding-right: 6px;
  --mixin-91IXXVI5LzHm_padding-top: 3px;
  --mixin-Nv8QX981MmeN_display: flex;
  --mixin-Nv8QX981MmeN_flex-direction: column;
  --mixin-Nv8QX981MmeN_align-items: stretch;
  --mixin-Nv8QX981MmeN_justify-content: flex-start;
  --mixin-Nv8QX981MmeN_list-style-position: outside;
  --mixin-Nv8QX981MmeN_padding-left: 40px;
  --mixin-Nv8QX981MmeN_position: relative;
  --mixin-Nv8QX981MmeN_list-style-type: disc;
  --mixin-pYjVarF4bVjS_display: flex;
  --mixin-pYjVarF4bVjS_flex-direction: column;
  --mixin-pYjVarF4bVjS_align-items: stretch;
  --mixin-pYjVarF4bVjS_justify-content: flex-start;
  --mixin-pYjVarF4bVjS_list-style-position: outside;
  --mixin-pYjVarF4bVjS_padding-left: 40px;
  --mixin-pYjVarF4bVjS_position: relative;
  --mixin-pYjVarF4bVjS_list-style-type: decimal;
  --mixin-skvwKITfTMOb2_font-family: "Inter";
  --mixin-skvwKITfTMOb2_color: #000000;
  --mixin-skvwKITfTMOb2_font-size: 20px;
  --mixin-skvwKITfTMOb2_font-weight: 600;
  --mixin-skvwKITfTMOb2_letter-spacing: -0.3px;
  --mixin-skvwKITfTMOb2_line-height: 1.5;
  --mixin-Fys-3K68RdWZO_font-family: "Inter";
  --mixin-Fys-3K68RdWZO_color: #000000;
  --mixin-Fys-3K68RdWZO_font-size: 16px;
  --mixin-Fys-3K68RdWZO_font-weight: 600;
  --mixin-Fys-3K68RdWZO_line-height: 1.5;
  --mixin-6AVoq_1GG4-L2_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-bB6jWbvTERm9_font-family);
  font-size: var(--mixin-bB6jWbvTERm9_font-size);
  font-weight: var(--mixin-bB6jWbvTERm9_font-weight);
  font-style: var(--mixin-bB6jWbvTERm9_font-style);
  color: var(--mixin-bB6jWbvTERm9_color);
  text-align: var(--mixin-bB6jWbvTERm9_text-align);
  text-transform: var(--mixin-bB6jWbvTERm9_text-transform);
  line-height: var(--mixin-bB6jWbvTERm9_line-height);
  letter-spacing: var(--mixin-bB6jWbvTERm9_letter-spacing);
  white-space: var(--mixin-bB6jWbvTERm9_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-XFG9Y26JyqnW_color);
  font-weight: var(--mixin-XFG9Y26JyqnW_font-weight);
  font-size: var(--mixin-XFG9Y26JyqnW_font-size);
  line-height: var(--mixin-XFG9Y26JyqnW_line-height);
  letter-spacing: var(--mixin-XFG9Y26JyqnW_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-ZSI3O8-liHKO_font-family);
  color: var(--mixin-ZSI3O8-liHKO_color);
  font-size: var(--mixin-ZSI3O8-liHKO_font-size);
  font-weight: var(--mixin-ZSI3O8-liHKO_font-weight);
  letter-spacing: var(--mixin-ZSI3O8-liHKO_letter-spacing);
  line-height: var(--mixin-ZSI3O8-liHKO_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-qa96mUWs157X_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-ny35gkcStHVD_font-family);
  color: var(--mixin-ny35gkcStHVD_color);
  font-size: var(--mixin-ny35gkcStHVD_font-size);
  font-weight: var(--mixin-ny35gkcStHVD_font-weight);
  letter-spacing: var(--mixin-ny35gkcStHVD_letter-spacing);
  line-height: var(--mixin-ny35gkcStHVD_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-fYe5TjZbqris_font-family);
  color: var(--mixin-fYe5TjZbqris_color);
  font-size: var(--mixin-fYe5TjZbqris_font-size);
  font-weight: var(--mixin-fYe5TjZbqris_font-weight);
  letter-spacing: var(--mixin-fYe5TjZbqris_letter-spacing);
  line-height: var(--mixin-fYe5TjZbqris_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-iAfsWRWN4qfD_background);
  font-family: var(--mixin-iAfsWRWN4qfD_font-family);
  border-radius: var(--mixin-iAfsWRWN4qfD_border-top-left-radius)
    var(--mixin-iAfsWRWN4qfD_border-top-right-radius)
    var(--mixin-iAfsWRWN4qfD_border-bottom-right-radius)
    var(--mixin-iAfsWRWN4qfD_border-bottom-left-radius);
  padding: var(--mixin-iAfsWRWN4qfD_padding-top)
    var(--mixin-iAfsWRWN4qfD_padding-right)
    var(--mixin-iAfsWRWN4qfD_padding-bottom)
    var(--mixin-iAfsWRWN4qfD_padding-left);
  border-top: var(--mixin-iAfsWRWN4qfD_border-top-width)
    var(--mixin-iAfsWRWN4qfD_border-top-style)
    var(--mixin-iAfsWRWN4qfD_border-top-color);
  border-right: var(--mixin-iAfsWRWN4qfD_border-right-width)
    var(--mixin-iAfsWRWN4qfD_border-right-style)
    var(--mixin-iAfsWRWN4qfD_border-right-color);
  border-bottom: var(--mixin-iAfsWRWN4qfD_border-bottom-width)
    var(--mixin-iAfsWRWN4qfD_border-bottom-style)
    var(--mixin-iAfsWRWN4qfD_border-bottom-color);
  border-left: var(--mixin-iAfsWRWN4qfD_border-left-width)
    var(--mixin-iAfsWRWN4qfD_border-left-style)
    var(--mixin-iAfsWRWN4qfD_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-b9-Hf5JqVV1C_color);
  padding-left: var(--mixin-b9-Hf5JqVV1C_padding-left);
  border-left: var(--mixin-b9-Hf5JqVV1C_border-left-width)
    var(--mixin-b9-Hf5JqVV1C_border-left-style)
    var(--mixin-b9-Hf5JqVV1C_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-91IXXVI5LzHm_background);
  font-family: var(--mixin-91IXXVI5LzHm_font-family);
  border-radius: var(--mixin-91IXXVI5LzHm_border-top-left-radius)
    var(--mixin-91IXXVI5LzHm_border-top-right-radius)
    var(--mixin-91IXXVI5LzHm_border-bottom-right-radius)
    var(--mixin-91IXXVI5LzHm_border-bottom-left-radius);
  padding: var(--mixin-91IXXVI5LzHm_padding-top)
    var(--mixin-91IXXVI5LzHm_padding-right)
    var(--mixin-91IXXVI5LzHm_padding-bottom)
    var(--mixin-91IXXVI5LzHm_padding-left);
  border-top: var(--mixin-91IXXVI5LzHm_border-top-width)
    var(--mixin-91IXXVI5LzHm_border-top-style)
    var(--mixin-91IXXVI5LzHm_border-top-color);
  border-right: var(--mixin-91IXXVI5LzHm_border-right-width)
    var(--mixin-91IXXVI5LzHm_border-right-style)
    var(--mixin-91IXXVI5LzHm_border-right-color);
  border-bottom: var(--mixin-91IXXVI5LzHm_border-bottom-width)
    var(--mixin-91IXXVI5LzHm_border-bottom-style)
    var(--mixin-91IXXVI5LzHm_border-bottom-color);
  border-left: var(--mixin-91IXXVI5LzHm_border-left-width)
    var(--mixin-91IXXVI5LzHm_border-left-style)
    var(--mixin-91IXXVI5LzHm_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Nv8QX981MmeN_display);
  flex-direction: var(--mixin-Nv8QX981MmeN_flex-direction);
  align-items: var(--mixin-Nv8QX981MmeN_align-items);
  justify-content: var(--mixin-Nv8QX981MmeN_justify-content);
  list-style-position: var(--mixin-Nv8QX981MmeN_list-style-position);
  padding-left: var(--mixin-Nv8QX981MmeN_padding-left);
  position: var(--mixin-Nv8QX981MmeN_position);
  list-style-type: var(--mixin-Nv8QX981MmeN_list-style-type);
  flex-column-gap: var(--mixin-Nv8QX981MmeN_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-pYjVarF4bVjS_display);
  flex-direction: var(--mixin-pYjVarF4bVjS_flex-direction);
  align-items: var(--mixin-pYjVarF4bVjS_align-items);
  justify-content: var(--mixin-pYjVarF4bVjS_justify-content);
  list-style-position: var(--mixin-pYjVarF4bVjS_list-style-position);
  padding-left: var(--mixin-pYjVarF4bVjS_padding-left);
  position: var(--mixin-pYjVarF4bVjS_position);
  list-style-type: var(--mixin-pYjVarF4bVjS_list-style-type);
  flex-column-gap: var(--mixin-pYjVarF4bVjS_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-skvwKITfTMOb2_font-family);
  color: var(--mixin-skvwKITfTMOb2_color);
  font-size: var(--mixin-skvwKITfTMOb2_font-size);
  font-weight: var(--mixin-skvwKITfTMOb2_font-weight);
  letter-spacing: var(--mixin-skvwKITfTMOb2_letter-spacing);
  line-height: var(--mixin-skvwKITfTMOb2_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-Fys-3K68RdWZO_font-family);
  color: var(--mixin-Fys-3K68RdWZO_color);
  font-size: var(--mixin-Fys-3K68RdWZO_font-size);
  font-weight: var(--mixin-Fys-3K68RdWZO_font-weight);
  line-height: var(--mixin-Fys-3K68RdWZO_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-6AVoq_1GG4-L2_color);
}
