@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-_NBEVxsms-VC_font-family: "Inter";
  --mixin-_NBEVxsms-VC_font-size: 16px;
  --mixin-_NBEVxsms-VC_font-weight: 400;
  --mixin-_NBEVxsms-VC_font-style: normal;
  --mixin-_NBEVxsms-VC_color: #535353;
  --mixin-_NBEVxsms-VC_text-align: left;
  --mixin-_NBEVxsms-VC_text-transform: none;
  --mixin-_NBEVxsms-VC_line-height: 1.5;
  --mixin-_NBEVxsms-VC_letter-spacing: normal;
  --mixin-_NBEVxsms-VC_white-space: pre-wrap;
  --mixin-_NBEVxsms-VC_user-select: text;
  --mixin-_NBEVxsms-VC_text-decoration-line: none;
  --mixin-_NBEVxsms-VC_text-overflow: clip;
  --mixin-wUYkipyqU1ER_color: #000000;
  --mixin-wUYkipyqU1ER_font-weight: 900;
  --mixin-wUYkipyqU1ER_font-size: 72px;
  --mixin-wUYkipyqU1ER_line-height: 1;
  --mixin-wUYkipyqU1ER_letter-spacing: -4px;
  --mixin-y4WvVrLgRtNC_font-family: "Inter";
  --mixin-y4WvVrLgRtNC_color: #000000;
  --mixin-y4WvVrLgRtNC_font-size: 48px;
  --mixin-y4WvVrLgRtNC_font-weight: 700;
  --mixin-y4WvVrLgRtNC_letter-spacing: -1px;
  --mixin-y4WvVrLgRtNC_line-height: 1.1;
  --mixin-T_9bV4NfVLuu_color: #0070f3;
  --mixin-6TkmYMfxi-dj_font-family: "Inter";
  --mixin-6TkmYMfxi-dj_color: #000000;
  --mixin-6TkmYMfxi-dj_font-size: 32px;
  --mixin-6TkmYMfxi-dj_font-weight: 600;
  --mixin-6TkmYMfxi-dj_letter-spacing: -0.8px;
  --mixin-6TkmYMfxi-dj_line-height: 1.2;
  --mixin-hnZ-gxQC37Nd_font-family: "Inter";
  --mixin-hnZ-gxQC37Nd_color: #000000;
  --mixin-hnZ-gxQC37Nd_font-size: 24px;
  --mixin-hnZ-gxQC37Nd_font-weight: 600;
  --mixin-hnZ-gxQC37Nd_letter-spacing: -0.5px;
  --mixin-hnZ-gxQC37Nd_line-height: 1.3;
  --mixin-U8w-MKdx7ecQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-U8w-MKdx7ecQ_border-bottom-color: #dddddd;
  --mixin-U8w-MKdx7ecQ_border-bottom-style: solid;
  --mixin-U8w-MKdx7ecQ_border-bottom-width: 1px;
  --mixin-U8w-MKdx7ecQ_border-left-color: #dddddd;
  --mixin-U8w-MKdx7ecQ_border-left-style: solid;
  --mixin-U8w-MKdx7ecQ_border-left-width: 1px;
  --mixin-U8w-MKdx7ecQ_border-right-color: #dddddd;
  --mixin-U8w-MKdx7ecQ_border-right-style: solid;
  --mixin-U8w-MKdx7ecQ_border-right-width: 1px;
  --mixin-U8w-MKdx7ecQ_border-top-color: #dddddd;
  --mixin-U8w-MKdx7ecQ_border-top-style: solid;
  --mixin-U8w-MKdx7ecQ_border-top-width: 1px;
  --mixin-U8w-MKdx7ecQ_border-bottom-left-radius: 3px;
  --mixin-U8w-MKdx7ecQ_border-bottom-right-radius: 3px;
  --mixin-U8w-MKdx7ecQ_border-top-left-radius: 3px;
  --mixin-U8w-MKdx7ecQ_border-top-right-radius: 3px;
  --mixin-U8w-MKdx7ecQ_font-family: "Inconsolata";
  --mixin-U8w-MKdx7ecQ_padding-bottom: 1px;
  --mixin-U8w-MKdx7ecQ_padding-left: 4px;
  --mixin-U8w-MKdx7ecQ_padding-right: 4px;
  --mixin-U8w-MKdx7ecQ_padding-top: 1px;
  --mixin-6R9FPmbmpH6b_border-left-color: #dddddd;
  --mixin-6R9FPmbmpH6b_border-left-style: solid;
  --mixin-6R9FPmbmpH6b_border-left-width: 3px;
  --mixin-6R9FPmbmpH6b_color: #888888;
  --mixin-6R9FPmbmpH6b_padding-left: 10px;
  --mixin-8gnzfpEKFnqg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8gnzfpEKFnqg_border-bottom-color: #dddddd;
  --mixin-8gnzfpEKFnqg_border-bottom-style: solid;
  --mixin-8gnzfpEKFnqg_border-bottom-width: 1px;
  --mixin-8gnzfpEKFnqg_border-left-color: #dddddd;
  --mixin-8gnzfpEKFnqg_border-left-style: solid;
  --mixin-8gnzfpEKFnqg_border-left-width: 1px;
  --mixin-8gnzfpEKFnqg_border-right-color: #dddddd;
  --mixin-8gnzfpEKFnqg_border-right-style: solid;
  --mixin-8gnzfpEKFnqg_border-right-width: 1px;
  --mixin-8gnzfpEKFnqg_border-top-color: #dddddd;
  --mixin-8gnzfpEKFnqg_border-top-style: solid;
  --mixin-8gnzfpEKFnqg_border-top-width: 1px;
  --mixin-8gnzfpEKFnqg_border-bottom-left-radius: 3px;
  --mixin-8gnzfpEKFnqg_border-bottom-right-radius: 3px;
  --mixin-8gnzfpEKFnqg_border-top-left-radius: 3px;
  --mixin-8gnzfpEKFnqg_border-top-right-radius: 3px;
  --mixin-8gnzfpEKFnqg_font-family: "Inconsolata";
  --mixin-8gnzfpEKFnqg_padding-bottom: 3px;
  --mixin-8gnzfpEKFnqg_padding-left: 6px;
  --mixin-8gnzfpEKFnqg_padding-right: 6px;
  --mixin-8gnzfpEKFnqg_padding-top: 3px;
  --mixin--V-XB6kAP8tu_display: flex;
  --mixin--V-XB6kAP8tu_flex-direction: column;
  --mixin--V-XB6kAP8tu_align-items: stretch;
  --mixin--V-XB6kAP8tu_justify-content: flex-start;
  --mixin--V-XB6kAP8tu_list-style-position: outside;
  --mixin--V-XB6kAP8tu_padding-left: 40px;
  --mixin--V-XB6kAP8tu_position: relative;
  --mixin--V-XB6kAP8tu_list-style-type: disc;
  --mixin-IR5Ep1TCZmjM_display: flex;
  --mixin-IR5Ep1TCZmjM_flex-direction: column;
  --mixin-IR5Ep1TCZmjM_align-items: stretch;
  --mixin-IR5Ep1TCZmjM_justify-content: flex-start;
  --mixin-IR5Ep1TCZmjM_list-style-position: outside;
  --mixin-IR5Ep1TCZmjM_padding-left: 40px;
  --mixin-IR5Ep1TCZmjM_position: relative;
  --mixin-IR5Ep1TCZmjM_list-style-type: decimal;
  --mixin-Je23MTCOT1DIQ_font-family: "Inter";
  --mixin-Je23MTCOT1DIQ_color: #000000;
  --mixin-Je23MTCOT1DIQ_font-size: 20px;
  --mixin-Je23MTCOT1DIQ_font-weight: 600;
  --mixin-Je23MTCOT1DIQ_letter-spacing: -0.3px;
  --mixin-Je23MTCOT1DIQ_line-height: 1.5;
  --mixin-P3uggiga6kUpv_font-family: "Inter";
  --mixin-P3uggiga6kUpv_color: #000000;
  --mixin-P3uggiga6kUpv_font-size: 16px;
  --mixin-P3uggiga6kUpv_font-weight: 600;
  --mixin-P3uggiga6kUpv_line-height: 1.5;
  --mixin-lDcue7GWyHnRr_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-_NBEVxsms-VC_font-family);
  font-size: var(--mixin-_NBEVxsms-VC_font-size);
  font-weight: var(--mixin-_NBEVxsms-VC_font-weight);
  font-style: var(--mixin-_NBEVxsms-VC_font-style);
  color: var(--mixin-_NBEVxsms-VC_color);
  text-align: var(--mixin-_NBEVxsms-VC_text-align);
  text-transform: var(--mixin-_NBEVxsms-VC_text-transform);
  line-height: var(--mixin-_NBEVxsms-VC_line-height);
  letter-spacing: var(--mixin-_NBEVxsms-VC_letter-spacing);
  white-space: var(--mixin-_NBEVxsms-VC_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-wUYkipyqU1ER_color);
  font-weight: var(--mixin-wUYkipyqU1ER_font-weight);
  font-size: var(--mixin-wUYkipyqU1ER_font-size);
  line-height: var(--mixin-wUYkipyqU1ER_line-height);
  letter-spacing: var(--mixin-wUYkipyqU1ER_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-y4WvVrLgRtNC_font-family);
  color: var(--mixin-y4WvVrLgRtNC_color);
  font-size: var(--mixin-y4WvVrLgRtNC_font-size);
  font-weight: var(--mixin-y4WvVrLgRtNC_font-weight);
  letter-spacing: var(--mixin-y4WvVrLgRtNC_letter-spacing);
  line-height: var(--mixin-y4WvVrLgRtNC_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-T_9bV4NfVLuu_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-6TkmYMfxi-dj_font-family);
  color: var(--mixin-6TkmYMfxi-dj_color);
  font-size: var(--mixin-6TkmYMfxi-dj_font-size);
  font-weight: var(--mixin-6TkmYMfxi-dj_font-weight);
  letter-spacing: var(--mixin-6TkmYMfxi-dj_letter-spacing);
  line-height: var(--mixin-6TkmYMfxi-dj_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-hnZ-gxQC37Nd_font-family);
  color: var(--mixin-hnZ-gxQC37Nd_color);
  font-size: var(--mixin-hnZ-gxQC37Nd_font-size);
  font-weight: var(--mixin-hnZ-gxQC37Nd_font-weight);
  letter-spacing: var(--mixin-hnZ-gxQC37Nd_letter-spacing);
  line-height: var(--mixin-hnZ-gxQC37Nd_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-U8w-MKdx7ecQ_background);
  font-family: var(--mixin-U8w-MKdx7ecQ_font-family);
  border-radius: var(--mixin-U8w-MKdx7ecQ_border-top-left-radius)
    var(--mixin-U8w-MKdx7ecQ_border-top-right-radius)
    var(--mixin-U8w-MKdx7ecQ_border-bottom-right-radius)
    var(--mixin-U8w-MKdx7ecQ_border-bottom-left-radius);
  padding: var(--mixin-U8w-MKdx7ecQ_padding-top)
    var(--mixin-U8w-MKdx7ecQ_padding-right)
    var(--mixin-U8w-MKdx7ecQ_padding-bottom)
    var(--mixin-U8w-MKdx7ecQ_padding-left);
  border-top: var(--mixin-U8w-MKdx7ecQ_border-top-width)
    var(--mixin-U8w-MKdx7ecQ_border-top-style)
    var(--mixin-U8w-MKdx7ecQ_border-top-color);
  border-right: var(--mixin-U8w-MKdx7ecQ_border-right-width)
    var(--mixin-U8w-MKdx7ecQ_border-right-style)
    var(--mixin-U8w-MKdx7ecQ_border-right-color);
  border-bottom: var(--mixin-U8w-MKdx7ecQ_border-bottom-width)
    var(--mixin-U8w-MKdx7ecQ_border-bottom-style)
    var(--mixin-U8w-MKdx7ecQ_border-bottom-color);
  border-left: var(--mixin-U8w-MKdx7ecQ_border-left-width)
    var(--mixin-U8w-MKdx7ecQ_border-left-style)
    var(--mixin-U8w-MKdx7ecQ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-6R9FPmbmpH6b_color);
  padding-left: var(--mixin-6R9FPmbmpH6b_padding-left);
  border-left: var(--mixin-6R9FPmbmpH6b_border-left-width)
    var(--mixin-6R9FPmbmpH6b_border-left-style)
    var(--mixin-6R9FPmbmpH6b_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-8gnzfpEKFnqg_background);
  font-family: var(--mixin-8gnzfpEKFnqg_font-family);
  border-radius: var(--mixin-8gnzfpEKFnqg_border-top-left-radius)
    var(--mixin-8gnzfpEKFnqg_border-top-right-radius)
    var(--mixin-8gnzfpEKFnqg_border-bottom-right-radius)
    var(--mixin-8gnzfpEKFnqg_border-bottom-left-radius);
  padding: var(--mixin-8gnzfpEKFnqg_padding-top)
    var(--mixin-8gnzfpEKFnqg_padding-right)
    var(--mixin-8gnzfpEKFnqg_padding-bottom)
    var(--mixin-8gnzfpEKFnqg_padding-left);
  border-top: var(--mixin-8gnzfpEKFnqg_border-top-width)
    var(--mixin-8gnzfpEKFnqg_border-top-style)
    var(--mixin-8gnzfpEKFnqg_border-top-color);
  border-right: var(--mixin-8gnzfpEKFnqg_border-right-width)
    var(--mixin-8gnzfpEKFnqg_border-right-style)
    var(--mixin-8gnzfpEKFnqg_border-right-color);
  border-bottom: var(--mixin-8gnzfpEKFnqg_border-bottom-width)
    var(--mixin-8gnzfpEKFnqg_border-bottom-style)
    var(--mixin-8gnzfpEKFnqg_border-bottom-color);
  border-left: var(--mixin-8gnzfpEKFnqg_border-left-width)
    var(--mixin-8gnzfpEKFnqg_border-left-style)
    var(--mixin-8gnzfpEKFnqg_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin--V-XB6kAP8tu_display);
  flex-direction: var(--mixin--V-XB6kAP8tu_flex-direction);
  align-items: var(--mixin--V-XB6kAP8tu_align-items);
  justify-content: var(--mixin--V-XB6kAP8tu_justify-content);
  list-style-position: var(--mixin--V-XB6kAP8tu_list-style-position);
  padding-left: var(--mixin--V-XB6kAP8tu_padding-left);
  position: var(--mixin--V-XB6kAP8tu_position);
  list-style-type: var(--mixin--V-XB6kAP8tu_list-style-type);
  flex-column-gap: var(--mixin--V-XB6kAP8tu_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-IR5Ep1TCZmjM_display);
  flex-direction: var(--mixin-IR5Ep1TCZmjM_flex-direction);
  align-items: var(--mixin-IR5Ep1TCZmjM_align-items);
  justify-content: var(--mixin-IR5Ep1TCZmjM_justify-content);
  list-style-position: var(--mixin-IR5Ep1TCZmjM_list-style-position);
  padding-left: var(--mixin-IR5Ep1TCZmjM_padding-left);
  position: var(--mixin-IR5Ep1TCZmjM_position);
  list-style-type: var(--mixin-IR5Ep1TCZmjM_list-style-type);
  flex-column-gap: var(--mixin-IR5Ep1TCZmjM_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-Je23MTCOT1DIQ_font-family);
  color: var(--mixin-Je23MTCOT1DIQ_color);
  font-size: var(--mixin-Je23MTCOT1DIQ_font-size);
  font-weight: var(--mixin-Je23MTCOT1DIQ_font-weight);
  letter-spacing: var(--mixin-Je23MTCOT1DIQ_letter-spacing);
  line-height: var(--mixin-Je23MTCOT1DIQ_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-P3uggiga6kUpv_font-family);
  color: var(--mixin-P3uggiga6kUpv_color);
  font-size: var(--mixin-P3uggiga6kUpv_font-size);
  font-weight: var(--mixin-P3uggiga6kUpv_font-weight);
  line-height: var(--mixin-P3uggiga6kUpv_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-lDcue7GWyHnRr_color);
}
